/* This stylesheet is for testing support for loading */
/* external CSS in internal emails in Outlook 365.    */

body{
	border-spacing: 500px;
	border-collapse: separate;
	border-spacing: 100px 200px;
	line-height: 5;
	background-color: blue;
	color: red;
	border-style: dotted;
}
table{
	border-spacing: 500px;
	border-collapse: separate;
	border-spacing: 100px 200px;
	line-height: 5;
	background-color: green;
	color: yellow;
	border-style: dotted;
}
