table{
	border-spacing: 11px;
	border-collapse: separate;
	border-spacing: 25px 10px;
	line-height: 1.4;
}

#img{
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.resume{
	margin:40px auto;
	max-width:650px;
	font-size:18px;
	color:#444;
}

.top{
	padding-bottom: 24px;
	text-align: center;
	line-height: .1;
}

.education_1{
	line-height: 0;
}

.experience_1{
	line-height: 0;
}

.experience_2{
	line-height: 0;
}

.section_title{
	border-bottom: 2px solid black
}

.section_top{
	margin-top:-20px;
	display: flex;
	justify-content: space-between;
}
.section_bottom{
	margin-top: -10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
}
.skills_table{
	margin-top:-20px;
}
.responsibilities{
	line-height: 1.2;
	margin-top: -30px;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 30px;
}

/* OLD CSS 
.section{
	padding-bottom: 24px;
}

.individual-line{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 0;
}

.experience-list{
	line-height: 1.4;
}

.section-table{
	line-height: .7;
}

.IRRELEVANTEXPERIENCE{
	display: none;
}

.links img{
	width: 25px;
	padding-left: 5px;
}

.links{
	text-align: center;
	margin: auto;
	padding-top: 15px;
}
*/
